<h1>Screens</h1>

<table id="screens">
  <tr>
    <th>Text</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @screens.each do |screen| %>
	<tr id="screen_<%= screen.id %>">
		<td><%= screen.text %></td>
		<td><%= link_to 'Show', screen %></td>
		<td><%= link_to 'Edit', edit_screen_path(screen) %></td>
		<td><%= link_to 'Destroy', screen_path(screen),
		method: :delete, data: { confirm: 'Are you sure?' } %></td>
	</tr>
<% end %>

</table>

<%= link_to 'New screen', new_screen_path %>

<script type="text/javascript">
	//channel = document.URL.split('/').slice(-1)[0];
	faye = new Faye.Client('http://localhost:9292/faye');
	faye.subscribe("/screens", function (data) {
		console.log(data);
		if (data.type == "create") {
			$("#screens").append("<tr><td>"+ data.object.text +"</td></tr>")
		} else if (data.type == "edit") {

			$("#screen_"+data.object.id).html("<tr><td>"+ data.object.text +"</td></tr>")
		}
	});
</script>